.dropdown-menu {
    width: 1px;
    position: absolute;

    list-style: none;
    text-align: start;
    background: #23252E;
  }
  
  .dropdown-menu li {
    background: #23252E;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #23252E;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }