.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

    height: 85px;

    text-decoration: none;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;    
    background-color: #23252E;
    border-bottom: 1px solid #DFCB44 ;
    flex-wrap: wrap;
}

.img-navBar{
    width: auto;
    height: 150px;
    padding-bottom: 70px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
}

/* .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
} */

.nav-menu {
    display: flex;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 1.5vw;

}

.nav-links:focus-within{
    color: #DFCB44
}

.nav-links {
    color: white;
    text-decoration: none;
    margin-bottom: 30px;
}

.nav-links:hover {
    color: #DFCB44;
    text-decoration: none;
    transition: all 0.4s ease-out;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

.nav-item-ocultos {
    display: none;
}

.nav-item-menu {
    max-width: 110px;
    display: flex;
}

@media screen and (max-width: 960px) {
    .nav-item-vacio {
        display: none;
    }
    .nav-item-ocultos {
        display: flex;
    
    }
    .nav-item-menu {
        display: none;
    }
    .navbar {
        z-index:9999;
    }
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        overflow:visible;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #1888ff;
        border-radius: 0;
    }



    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #1888ff;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #1888ff;
        transition: 250ms;
    }

    button {
        display: none;
    }
}