.activity-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.Card-Activity{
    position: relative;
    width: 350px;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.Card-Activity .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.Card-Activity .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px black;
}

 .Card-Activity .front  .img-cardActivity{
   /*  position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

 .Card-Activity .front  .h-activityF{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #DFCB44;
    background-color: rgba(27, 27, 27, 0.624);;
    text-align: center;
    margin-bottom: 0px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
}

.Card-Activity .back{
    transform: perspective(600px) rotateY(180deg);
    background-color: rgb(27, 27, 27);;
    padding: 15px;
    color: #DFCB44;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow:0px 5px 10px black; 
}

.Card-Activity .back .Link-turnos{
    border-top: solid 1px #DFCB44;;
    height: 50px;
    line-height: 50px;
}

.Card-Activity .back .LinkCard{
    color: #f3f3f3;
    text-decoration: none;
    font-size: 25px;

}

.Card-Activity .back .LinkCard:hover{
    color: #DFCB44;
    font-size: 30px;
    transition: .2s;
}


.Card-Activity .back .h-activityB{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    font-family:'Montserrat', sans-serif;
}

.Card-Activity .back .p-activity{
    font-size: 20px;
    letter-spacing: 1px;
    color: #f3f3f3;
}

.Card-Activity:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.Card-Activity:hover .back{
    transform: perspective(600px) rotateY(360deg);
    transition: 0.5s;
}