.activity-container {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.Card-Activity {
    position: relative;
    width: 350px;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.Card-Activity .face {
    position: absolute;
    width: 350px;
    height: 500px;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;

}

.Card-Activity .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px black;
}

.Card-Activity .front .img-cardActivity {
    width: 350px;
    height: 500px;
    object-fit: cover;
}

.Card-Activity .front .h-activityF {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #DFCB44;
    background-color: rgba(27, 27, 27, 0.624);
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.Card-Activity .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: rgb(27, 27, 27);
    padding: 15px;
    color: #DFCB44;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 5px 10px black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.Card-Activity .back .Link-turnos {
    border-top: solid 1px #DFCB44;
    height: 50px;
    line-height: 50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.Card-Activity .back .LinkCard {
    color: #f3f3f3;
    text-decoration: none;
    margin: 0px auto;
    font-size: 25px;

}

.Card-Activity .back .LinkCard:hover {
    color: #DFCB44;
    font-size: 30px;
    transition: .2s;
}


.Card-Activity .back .h-activityB {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

.Card-Activity .back .p-activity {
    font-size: 20px;
    letter-spacing: 1px;
    color: #f3f3f3;
}

.Card-Activity:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.Card-Activity:hover .back {
    transform: perspective(600px) rotateY(360deg);
    transition: 0.5s;
}


.button-onclose {
    --color: #DFCB44;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 1;
    font-size: 17px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--color);
    box-shadow: 2px 2px 10px black;
}

.button-onclose:before {
    content: "";
    position: absolute;
    z-index: -1;
   background: rgb(162, 26, 26);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.button-onclose:hover {
    color: #f3f3f3;
    border-color: #DFCB44;
}

.button-onclose:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.button-onclose:hover:before {
    top: -30px;
    left: -30px;
}

.estrellitas {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 0%;

}

#pintada {
    color: #DFCB44;

}

#despintada {
    color: #f3f3f387
}

.h5-votos {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.button-cerrar {
    --color: #DFCB44;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    background-color: #23252E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 1;
    font-size: 17px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--color);
    box-shadow: 2px 2px 10px black;
}

.button-cerrar:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: rgb(162, 26, 26);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.button-cerrar:hover {
    color: #f3f3f3;
    border-color: #DFCB44;

}

.button-cerrar:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.button-cerrar:hover:before {
    top: -30px;
    left: -30px;
}