.tdDivContainerCardCalendar {
  display: flex;
  justify-content: center;

}

td {
  border: 1px solid #3b3f5188;
}

.btn-peton {
  --color: #DFCB44;
  font-family: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 50px;
/*   margin-left: 200px; */
  /* width: 8em; */
 /*  height: 2.6em;  */
  /* line-height: 2.5em;  */
 position: relative; 
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  background-color: transparent;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: bold; */
  z-index: 1;
  font-size: 17px;
  border-radius: 20px;
  /* font-weight: 500; */
  color: white;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.btn-peton:before {
  content: ""; 
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 100px;
  width: 700px;
  border-radius: 50%;
}

.current_date{
  display: flex;
  justify-content: flex-start;
}

.btn-peton:hover {
  color:#23252E;
  border-color: #DFCB44;
}

.btn-peton:before {
  top: 150%;
  left: 100%;
  transition: all .7s;
}

.btn-peton:hover:before {
  top: -30px;
  left: -30px;
}



.div-btn-actv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

thead {
  border: 3px solid #3b3f5188;

}

th {
  border: 1px solid #3b3f5188;
}

.activityCardCalendar {
  box-shadow: 0px 0px 8px rgb(36, 35, 33);
  transition: 0.3s;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #dfca44d4;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 7px;

}

.textoActivityCard {
  margin: -2px;
}

.activityCardCalendar:hover {
  box-shadow: 0px 0px 12px rgb(36, 35, 33);
  background-color: #DFCB44;

}

.activityCardCalendarTitulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.miTabla {
  background-color: #23252E;

}

.titulosCalendario {
  color: antiquewhite;
  border: 1px solid #3b3f5188;

}

/* .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
  color: antiquewhite;
} */

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
  color: antiquewhite;
}


.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  color: rgba(250, 235, 215, 0.815);
}

.calendarContanierDiv {
  background-color: #23252E;
}

.Select-SumTurn-Cont {
  display: flex;
  /* flex-direction: row; */
  margin: 10 auto;
  padding: 20px;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.sumar-Turn {
  text-decoration: none;
  --color: #DFCB44;
  font-family: inherit;
  /*  display: inline-block; */
  width: 14em;
  height: 2.6em;
  /* line-height: 2.5em; */
  /*  margin: 10px auto; */
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  background-color: transparent;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  z-index: 1;
  font-size: 17px;
  border-radius: 20px;
  font-weight: 500;
  color: var(--color);
  margin-left: -15em;
  box-shadow: 1px 1px 5px black;
}

.sumar-Turn:before {

  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 300px;
  border-radius: 50%;
}

.sumar-Turn:hover {
  text-decoration: none;
  color: #23252E;
  border-color: #DFCB44;
}

.sumar-Turn:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
}

.sumar-Turn:hover:before {
  top: -30px;
  left: -30px;
}