.tdDivContainerCardCalendar {
    display: flex;
    justify-content: center;
    
}

td {
    border: 1px solid #3b3f5188;
}


thead {
  border: 3px solid #3b3f5188;

}

th {
  border: 1px solid #3b3f5188;
}

.activityCardCalendar {
    box-shadow: 0px 0px 8px rgb(36, 35, 33);
    transition: 0.3s;
    width:200px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #dfca44d4;
    color: black;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    padding: 7px;

  }

  .textoActivityCard {
    margin: -2px;
  }

.activityCardCalendar:hover {
    box-shadow: 0px 0px 12px rgb(36, 35, 33);
    background-color:#DFCB44;

  }

.activityCardCalendarTitulo {
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
}

  .miTabla {
    background-color: #23252E;

  }

.titulosCalendario {
    color: antiquewhite;
    border: 1px solid #3b3f5188;

}

/* .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
  color: antiquewhite;
} */

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  color: antiquewhite;
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  color: rgba(250, 235, 215, 0.815);
}

.calendarContanierDiv {
  background-color: #23252E;
}