.img {
    width: 100%;
    height: 70vh;
    margin-top: 0%;
    padding-top: 0%;
    border-bottom: 2px groove #DFCB44;
}

.logoApp{
    width: auto;
    margin: 0px auto;
}


.frase {
    height: 210px;
    color: #FFFEFA;
}