.img {
    width: 100%;
    height: 700px;
    margin-top: 0%;
    padding-top: 0%;
    border-bottom: 2px groove #DFCB44;
}

.logoApp{
    width: auto;
    padding-bottom: 65px;
}


.frase {
    height: 210px;
}