.main-Footer{
    width: 100%;
    height: 100px;

    background-color: #23252E;
    background-position: cover;
    border-top: 1px solid #DFCB44 ;

    text-decoration: none;
    font-family:'Montserrat', sans-serif;

    font-size: small;
    color: antiquewhite;
}

.derechos{
    padding-top: 40px;
}