.containerPayment{
    background-color: #23252E;
}



.form-pago{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px #DFCB44;
    width: 40%;
    margin: auto;
    padding: 35px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.537);
    color: #FFFEFA;
    
}
.input-card{
    text-align: center;
    width: 30%;
    border: 1px solid grey;
    height: 50px;
    
}

.div-card-element{
    width: 80%;
    border: solid 1px #DFCB44;
    padding: 20px;
    margin: 15px;
}

.botonPayment{
    --color: #DFCB44;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 10px auto;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    z-index: 1;
    font-size: 17px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--color);
    box-shadow: 5px 5px 20px black;
}
.botonPayment:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.botonPayment:hover {
    color: #23252E;
}

.botonPayment:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.botonPayment:hover:before {
    top: -30px;
    left: -30px;
}

.inputUser{
    width: 80%;
    background-color: #23252E;
    border: solid 1px #DFCB44;
    padding: 20px;
    margin: 15px;
    color: #FFFEFA;
    border-radius: 20px;

}

.inputUser:hover{
    padding: 20px;
    margin: 15px;
}