.Carrusel {
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
}


.btn {
    width: 200px;
    height: 80px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.btn1 {
    width: 200px;
    height: 80px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    border: none;
    margin: 0px auto;
    margin-bottom: 200px;
}

.text-1,
.text-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50% -25px;
    transition: all 0.7s;
    border-radius: 20px;
    margin: 0px auto;
}


.text-1 {
    transform: rotateX(0deg);
    /* background-color: rgb(0, 0, 0); */
    background-color: #23252E;
    color: #DFCB44;
    border: 2px groove #DFCB44;
}

.text-2 {
    transform: rotateX(90deg);
    /* background-color: rgb(0, 0, 0); */
    background-color: #23252E;
    color: #DFCB44;
    border: 2px groove #DFCB44;
}

.btn:hover .text-1 {
    transform: rotateX(90deg);
}

.btn:hover .text-2 {
    transform: rotateX(0deg);
}

.btn1:hover .text-1 {
    transform: rotateX(90deg);
}

.btn1:hover .text-2 {
    transform: rotateX(0deg);
}