.btn-usuario{
    --color: #DFCB44;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    /* margin: 10px auto; */
    /* margin-bottom: 50px; */
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 1;
    font-size: 17px;
    border-radius: 15px;
    font-weight: 500;
    color: var(--color);
}

.btn-usuario:before{
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.btn-usuario:hover{
    color: #23252E;
}

.btn-usuario:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.btn-usuario:hover:before {
    top: -30px;
    left: -30px;
}