.Card-Container {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.ProfCard {
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.img-Pcard {
    height: 500px;
    width: 350px;
    border-radius: 20px;

}

.h-card {
    height: 60px;
    width: 350px;
    padding: -5px;
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(27, 27, 27, 0.624);
    color: #DFCB44;
    bottom: 0px;
}

#h-name {
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

#p-info {
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
    color: white;
    cursor: default
}


.ProfCard:hover .h-card {
    height: 270px;
    bottom: 0px;
    background-color: rgba(27, 27, 27, 0.624);
    transition: 0.8s;
}

.ProfCard:hover #p-info {
    opacity: 1;
    visibility: visible;

}

.Edit-icon {
    width: 30px;
}

.button-editar {
    --color: #DFCB44;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    /* line-height: 2.5em; */
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 1;
    font-size: 17px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--color);
    margin-left: 17px;
    box-shadow: 2px 2px 10px black;
}

.button-editar:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #DFCB44;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.button-editar:hover {
    color: #23252E;
    border-color: #23252E;
}

.button-editar:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.button-editar:hover:before {
    top: -30px;
    left: -30px;
}