.containeruser{
    background-image: url('https://i.ibb.co/dgPmZDv/Fondo-de-Escritorio-KANBAN-para-Profesor-Rosa-Marr-n-1.png'); 
    background-size:cover;
    background-position: center ;
    background-repeat: no-repeat;
    position:absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    padding:10px;
    color: white;
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
}

.containerregister{
    padding:10px;
    height: 600px;
    display:flex;
    flex-direction: row;
    width: 900px;
    margin: 150px auto;
    
    border-radius:20px;

    background-color: #000000bf ;
}

.image{
    background-image: url('https://i.ibb.co/vB5b6y3/story-instagram-moda-femenina-blanco-azul.png'); 
    background-repeat: no-repeat;
    background-size:contain;
    height: 570px;
    width: 350px;
    border-radius: 20px;
    margin: 5px;

    display: flex;
    justify-content: center;

}
.userform{
    width: 450px;
    display:flex;
    flex-direction: column;
    align-items: center;  
}

.form-label{
    margin: 10px auto;
}

.formgroup{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-left: 50px;
    text-align: left;
}

.registrate{
    font-weight: bold;
    margin: 30px auto;
    margin-left: 130px;
}

.form-control{
    border-radius: 20px;
    border: 2px #DFCB44 solid;
    margin: 0px auto;
}

.Yate{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
    font-size: 20px;
    color: white;
}

.textdiv{
    margin: 0px auto;
    font-size: 15px;
    color: white;
}

.containerbutton{
    display:flex;
    justify-content: right;
}

.buttonR{
    --color: #DFCB44;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    /* line-height: 2.5em; */
    margin: -5px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.7s;
    background-color: #23252E;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 1;
    font-size: 17px;
    border-radius: 20px;
    font-weight: bold;
    color: var(--color);
}
.buttonR:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.buttonR:hover {
    color: #23252E;
}

.buttonR:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.buttonR:hover:before {
    top: -30px;
    left: -30px;
}

.facebook{
    
    width: 181px;
    height:43px;  
    border-radius: 4px;
    background: #3b5998;
    color:white;
    border:0px transparent;  
    text-align: center;
    display: inline-block;
    font-size: 14px; font-weight: 500; font-family: Roboto, sans-serif
}
.ptext {
    --color: #DFCB44;
    font-family: inherit;
}

@media (max-width: 850px) {
    .image{
        width: 0px;
    }
    .containerregister{
      
        width: 90%;
        margin-top: 20%;
        
    }
    .userform{
        padding-right:  10%;
        margin: 0px auto;
    }

    .containeruser{
        background-color: #23252E;
        padding:0px auto;
        margin: 0px auto;
        
    }
    .formgroup{
        display:flex;
        flex-direction: column;
        width: 80%;
        margin-left: 0px;
        text-align: center;
    }
    .registrate{
        font-weight: bold;
        margin: 50px auto 30px  auto;
        width: 90%;
        text-align: center;
    }

    .containerbutton{
        display:flex;
        justify-content: center;
    }

   }