.containerform2 {
  background-image: url('https://images.unsplash.com/photo-1522898467493-49726bf28798?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding-top: 10%;

}

.container2 {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;


}
.card2 {
  padding-top: 30px;
  width: 450px;
  height: 300px;
  background-color: #00000092;
  border-radius: 20px;
  align-items: center;
}