.FormActContainer {
    background-image: url('https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
}

.FormContainer {
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
}

.FormCard {
    background-color: rgba(0, 0, 0, 0.659) !important;
    width: 700px;
    margin: 0 auto;
    border-radius: 20px;
}

.h4-form {
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    /*  font-weight: bold; */
    color: #DFCB44;
}

.sumarFormContainer {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
}


.sumar-actForm {
    text-decoration: none;
    --color: #DFCB44;
    font-family: inherit;
    display: inline-block;
    width: 14em;
    height: 2.6em;
    /* line-height: 2.5em; */
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    background-color: #23252E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 1;
    font-size: 17px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--color);
}

.sumar-actForm:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 300px;
    border-radius: 50%;
}

.sumar-actForm:hover {
    text-decoration: none;
    color: #23252E;
    transition: 0.8s;
    background-color: #DFCB44;
}

.sumar-actForm:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.sumar-actForm:hover:before {
    top: -30px;
    left: -30px;
}

#description-actv {
    height: 100px;
    width: 500px;
    background-color: rgba(2, 2, 2, 0.63);
    border-radius: 20px;
    color: whitesmoke;
}

.error {
    color: white;
    background-color: rgba(255, 0, 0, 0.323);
    border-radius: 20px;
}

#img-actv {
    background-color: rgba(2, 2, 2, 0.211);
    border-radius: 20px;
    color: whitesmoke;
    /* border: 3px solid black */
}

#name-actv {
    background-color: rgba(2, 2, 2, 0.579);
    border-radius: 20px;
    color: whitesmoke;
}

.h1-form {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #DFCB44;
    /* text-shadow: 8px 8px 8px rgb(0, 0, 0); */
    letter-spacing: 0.1em;

}

.FormContainerTurn {
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
}


.FormTurnContainer {
    background-image: url('https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
    font-family: 'Numans', sans-serif;
    padding: 40px;
}

.volver-Profs {
    text-decoration: none;
    --color: #DFCB44;
    font-family: inherit;
    display: inline-block;
    width: 14em;
    height: 2.6em;
    /* line-height: 2.5em; */
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    background-color: #23252E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 1;
    font-size: 17px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--color);
}

.volver-Profs:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #DFCB44;
    ;
    height: 150px;
    width: 300px;
    border-radius: 50%;
}

.volver-Profs:hover {
    text-decoration: none;
    color: #23252E;

}

.volver-Profs:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.volver-Profs:hover:before {
    top: -30px;
    left: -30px;
}