 .containerform {
   background-image: url('https://i.ibb.co/23XTQzh/Fondo-de-Escritorio-KANBAN-para-Profesor-Rosa-Marr-n-2.png');
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   font-family: 'Montserrat', sans-serif;
   font-weight: bolder;
 }

 .container {
   height: 500px;
   align-content: center;
 }

 .card {
   height: 500px;
   margin-top: 100px;
   width: 450px;
   background-color: #00000092;
   border-radius: 20px;
 }

 .social_icon span {
   font-size: 60px;
   margin-left: 10px;
   color: #DFCB44;
 }

 .social_icon span:hover {
   color: white;
   cursor: pointer;
 }

 .card-header h3 {
   color: white;
 }

 .social_icon {
   position: absolute;
   right: 20px;
   top: -45px;
 }

 .input-group-prepend span {
   width: 50px;
   background-color: #DFCB44;
   color: black;
   border: 0 !important;
 }

 .linkToRegister {
   font-size: 15px;
   color: white;
 }

 .remember {
   color: white;
   font-size: 15px;
 }

 .remember input {
   width: 12px;
   /* height: 20px; */
   margin-left: 20px;
   margin-right: 5px;
 }

 .loginbtnA {
   --color: #DFCB44;
   font-family: inherit;
   display: inline-block;
   width: 8em;
   height: 2.6em;
   /* line-height: 2.5em; */
   margin: 0px auto;
   margin-left: 230px;
   position: relative;
   overflow: hidden;
   border: 2px solid #DFCB44;
   transition: color 0.7s;
   background-color: #23252E;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
   font-weight: bolder;
   z-index: 1;
   font-size: 17px;
   border-radius: 20px;
   font-weight: bold;
   color: var(--color);
 }

 .loginbtnA:before {
   content: "";
   position: absolute;
   z-index: -1;
   background: var(--color);
   height: 150px;
   width: 200px;
   border-radius: 50%;
 }

 .loginbtnA:hover {
   color: white;
 }

 .loginbtnA:before {
   top: 100%;
   left: 100%;
   transition: all .7s;
 }

 .loginbtnA:hover:before {
   top: -30px;
   left: -30px;
 }

 .cardbody {
   height: 250px;
   padding: 40px;
   padding-bottom: 0px;
 }

 .buttons {
   display: flex;
   height: 41px;
   justify-content: space-evenly;
   padding-right: 20px;
   padding-left: 20px;
 }

 .visita {
   display: flex;
   flex-direction: column;
   margin-top: 15px;
 }

 /* .registerForm {
   display: flex;
   flex-direction: column;
   font-size: 15px;
 } */

 @media (max-width: 500px) {
   .buttons {
     flex-direction: column;
     gap: 12px;
     justify-content: center;
     height: 100px;
     align-items: center;
   }

   .loginbtnA {
     margin-left: 0px;
     margin-right: 10px;
   }

   .card {

     height: 500px;
   }

   .visita {
     display: flex;

     flex-direction: column;
     margin-top: 30px;
   }

 }